* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../../images/covers/d8c447f52ed8adc4ec394b0d1a0b7cda88dc9c90b6e3795796c90dd27267214b.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgot-password-container {
    width: 65%;
    min-height: 400px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

header {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 45px;
}

#submit-form {
    align-items: center;
}

.submit {
    margin: 0;
    border: none;
    outline: none;
    height: 45px;
    width: 50%;
    background: #ececec;
    border-radius: 5px;
    transition: .2s;
}

.submit:hover {
    background: rgba(33, 37, 41, 0.9);
    color: #ffffff;
}